.brand-img {
  height: 4.6rem;
}

@media (max-width: 48em) {
  .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.572);

    opacity: 0;
    pointer-events: none;
    visibility: none;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
  }

  /* .main-nav a {
    font-size: 2rem;
  } */

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0%);
  }

  .main-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
  }

  .login-register {
    margin-top: 2.4rem;
  }
}
/* Mobile navigation */
